@import './style/reset';
@import './style/vars';
:root {
    font-size: 18px;
}
.App {
    max-width: 375px;
    margin: 0 auto;
    border: 1px solid black;
    padding: 1rem;
}
.header {
    h1 {
        font-size: 2rem;
        text-align: center;
        padding-block: 1rem;
        border-bottom: 3px double black;
    }
}
.main {
    &__input {
        padding-block: 1rem;
        border-bottom: 3px double black;
        display: flex;
        gap: .5rem;
        #todoInput {
            border: 1px solid black;
            border-radius: 3px;
            text-indent: .3rem;
            width: 100%;
        }
        .addBtn {
            border: 1px solid black;
            border-radius: 3px;
            cursor: pointer;
            user-select: none;
            padding: .3rem;
            &:hover {
                background-color: black;
                color: white;
            }
            &:active {
                transform: translateY(.1rem);
            }
        }
    }
    &__todolist {
        h3 {
            text-decoration: underline;
            padding-block: 1rem;
        }
        .todo {
            display: flex;
            justify-content: space-between;
            .checkboxContainer {
                display: block;
                position: relative;
                padding-left: $checkmarkSize + 10px;
                cursor: pointer;
                user-select: none;
                input {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                    height: 0;
                    width: 0;
                }
                .checkmark {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: $checkmarkSize;
                    width: $checkmarkSize;
                    background-color: #ccc;
                    border-radius: 3px;
                    &::after {
                        content: "";
                        position: absolute;
                        display: none;
                        left: -5%;
                        top: 50%;
                        width: 35%;
                        height: 70%;
                        border: solid white;
                        border-width: 0 3px 3px 0;
                        transform: rotate(45deg) translateY(-80%);
                    }
                }
                input:checked ~ .checkmark {
                    background-color: #2196F3;
                }
                input:checked ~ .checkmark:after {
                    display: block;
                }
                &:hover .checkmark{
                    background-color: #aaa;
                }
            }
            .deleteBtn {
                width: $checkmarkSize;
                height: $checkmarkSize;
                background-color: salmon;
                border-radius: 3px;
                position: relative;
                cursor: pointer;
                flex-shrink: 0;
                &:hover {
                    background-color: red;
                }
                &::before {
                    content:'';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    height: 80%;
                    width: 3px;
                    background-color: white;
                    transform: translate(-50%, -50%) rotate(45deg);
                }
                &::after {
                    content:'';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    height: 80%;
                    width: 3px;
                    background-color: white;
                    transform: translate(-50%, -50%) rotate(-45deg);
                }
            }
        }
    }
}
.footer {
    padding-block: 1rem;
    display: grid;
    .deleteDone {
        border: 1px solid black;
        border-radius: 3px;
        padding: .5rem;
        justify-self: center;
        cursor: pointer;
        &:hover {
            background-color: black;
            color: white;
        }
        &:active {
            transform: translateY(.1rem);
        }
    }
}